body {
  background-color: #f8f1d4;
  background-image:
    repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 31px,
      rgba(0, 0, 255, 0.2) 32px
    );
}

.card {
  background-color: #f8f1d4;
  background-image:
    repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 31px,
      rgba(0, 0, 255, 0.2) 32px
    );
}

h2 {
  font-weight: 700;
}

